{% extends "base.html" %}
{% block title %} Create Article{% endblock %}
{% block content %}

<h1></h1>
  <form method="post" enctype=multipart/form-data>
    <div class="container text-center">
        <div class="row justify-content-center my-4">
            <div class="col-sm-10">
                <div class="input-group form-floating ">
                    <span class="input-group-text" id="basic-addon1">Add a title for your article</span>
                    {{ form.heading (class="form-control")}}
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-4">
            <div class="col-sm-8">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01" >Select article cover</label>
                    <input type="file" class="form-control" id="inputGroupFile01" id="customFile" name="file">
                </div>
            </div>
        </div>

        <div class="row justify-content-center mb-4">
            <div class="col-sm-6">
                <div class="input-group">
                    {{ form.tags (class="form-control") }}
                    <span class="input-group-text" id="basic-addon2">#tags</span>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="col">
                    <div class="form-check form-switch form-check-reverse ">
                        {{ form.draft (class="form-check-input", type="checkbox", role="switch", id="flexSwitchCheckDefault")}}
                        <label class="form-check-label" for="flexSwitchCheckDefault">Save as draft</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
                    <label class="form-check-label" for="flexSwitchCheckDisabled">Оsas</label>
                  </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-10"> 
                <div class="input-group mb-4">
                    <span class="input-group-text">Short description</span>
                    {{ form.description (class="form-control")}}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8 justify-content-center"> 
            {{ form.text(type="text", id="article", class="form-control") }}
        </div>
    </div>
    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4" id="sendimg">
        {{ form.submit(class="btn btn-outline-secondary my-4", id="sendimg") }}
    </div>

      {{ form.csrf_token }}
  </form>
  <script type="text/javascript" src="{{ url_for('static', filename='js/tinymce/tinymce.min.js') }}" referrerpolicy="origin"></script>
<script type="text/javascript">
    tinymce.init({
        selector: '#article',
        // language: 'ru',
        // inline: true,
        plugins: 'autoresize preview importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link template codesample table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount help charmap quickbars emoticons',
        // indent_use_margin: true, 

        imagetools_toolbar: "rotateleft rotateright | flipv fliph | editimage imageoptions",
        toolbar: 'undo redo | bold italic underline strikethrough | fontfamily fontsize blocks | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | charmap emoticons | fullscreen  preview print | insertfile image link codesample | ltr rtl',
        images_upload_url: '{{ url_for("main.imageuploader") }}',
        automatic_uploads: false,
        images_reuse_filename: false,
        images_upload_base_path: '/static/images',
        codesample_languages: [
            { text: 'HTML/XML', value: 'markup' },
            { text: 'JavaScript', value: 'javascript' },
            { text: 'CSS', value: 'css' },
            { text: 'Processing', value: 'processing' },
            { text: 'Python', value: 'python' }
        ],
        width: "100%",
        min_height: 700
        
    });
</script>
<script>
    document.querySelector("#sendimg").addEventListener("click", (evt) => {
        console.log(tinymce.activeEditor.editorUpload.uploadImages());
        tinymce.activeEditor.editorUpload.uploadImages()
    })
</script>
{% endblock %}