{% extends "base.html" %}
{% block title %}Profile {% endblock %}

{% block content %}

<div class="'row">
    <div class="col">

    </div>
    <div class="col">

    </div>
<div class="container text-center">

    <section class="colored-section" id="title">

        <div class="container-fluid">    
          <div class="row justify-content-around">
            <div class="col-lg-3">
                <div class="profile-header-img">
                    {% if user.path %}
                        <img src="{{ user.path }}" width=80% height=80% alt="" style="border-radius: 25px;" />
                    {% else %}
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width=80% height=80% alt="" />
                    {% endif %}
                </div>
                <div>
                    <h1>{{ user.name }}</h1>
                    <div class="font-weight-600 mb-3 text-muted mt-n2">{{ user.login }}</div>
                    {% if current_user.is_administrator() %}
                    <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p> 
                    {% endif %}
                    {% if user.about_me %}
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="font-weight-600 mb-3 text-muted mt-n2">{{ user.about_me }}</div>
                    </div>
                    {% endif %}
                </div>
                
                <button type="button" class="btn btn-outline-secondar my-3">Secondary</button>

                <ul class="list-group">
                    <li class="list-group-item">Элемент</li>
                    <li class="list-group-item">Второй элемент</li>
                    <li class="list-group-item">Третий элемент</li>
                    <li class="list-group-item">Четвертый элемент</li>
                    <li class="list-group-item">И пятый</li>
                    </ul>
            </div>
    
            <div class="col-lg-9">
                <ul class="profile-header-tab nav nav-tabs nav-tabs-v2">
                    <li class="nav-item">
                        <a href="#profile-post" class="nav-link" data-toggle="tab">
                            <div class="nav-field">Posts</div>
                            <div class="nav-value">382</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#profile-followers" class="nav-link active" data-toggle="tab">
                            <div class="nav-field">Followers</div>
                            <div class="nav-value">1.3m</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#profile-followers" class="nav-link" data-toggle="tab">
                            <div class="nav-field">Following</div>
                            <div class="nav-value">2,592</div>
                        </a>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Элемент</li>
                    <li class="list-group-item">Второй элемент</li>
                    <li class="list-group-item">Третий элемент</li>
                    <li class="list-group-item">Четвертый элемент</li>
                    <li class="list-group-item">И пятый</li>
                  </ul>
            </div>
    
          </div>
    
        </div>
    
      </section>
</div>
{% endblock %}

